<html>
    <head>
        <link rel="stylesheet" href="/styles.css">
        <link rel="stylesheet" href="/items.css">
    </head>
    <body>
        <%- include('header') %>
        <%- include('sidebar', {categories: categories}) %>
        <div class="main-container">
           <h2><%= chosenCategory.name %></h2>
            <div class="items-holder">
                <% categoryItems.forEach(item => { %>
                    <div class="item-container">
                        <img src="<%= item.image_url %>" alt="guitar" class="item-img">
                        <h3 class="item-name"><%= item.name %></h3>
                        <div class="description-container">
                            <p class="item-price">
                                <%= item.price %>
                            </p>
                            <p class="item-stock">
                                <%= item.in_stock %>
                            </p>
                    </div>
                    </div>
                <% }) %> 
            </div>
            
        </div>
        
    </body>
</html>