<html>
    <head>
        <link rel="stylesheet" href="./styles.css">
        <link rel="stylesheet" href="./items.css">
        <title><%= title %></title>
    </head>
    <body>
        <%- include('header') %>
        <%- include('sidebar', { categories: categories }) %>
        <div class="main-container">
           <div class="items-holder">
            <% items.forEach(item => { %>
                <div class="item-container">
                    <!-- set up image container here -->
                    <div class="img-container">
                        <img src="<%= item.image_url %>" alt="guitar" class="item-img">
                    </div>
                    
                    <h3 class="item-name"><%= item.name %></h3>
                    <div class="description-container">
                        <p class="item-price">
                            <%= item.price %>
                        </p>
                        <p class="item-stock">
                            <%= item.in_stock %>
                        </p>
                    </div>
                </div>
            <% }) %>
           </div>
        </div>
        
    </body>
</html>