<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/styles.css">
        <link rel="stylesheet" href="/items.css">
        <link rel="stylesheet" href="/forms.css">
    </head>
    <body>
        <%- include('header') %>

        <% if (locals.deleteError) {%>
            <div class="delete-message-popup no-blur" style="display: block">
                <p><%= deleteError %></p>
                <a href="/updateCategory/<%= chosenCategory.id %>" class="confirm-error-link">
                    Ok
                </a>
            </div>
        <% } %>
        
        <% if (locals.showPopUp) {%> 
        <div class="main-container <%= showPopUp ? 'blur' : '' %>" style="grid-column: 1 / 3;">
        <% } else { %>
        <div class="main-container" style="grid-column: 1 / 3;">
        <% } %>
            <div class="category-title-container">
                <h2 class="add-category-header">Update the category</h2>
                <a href="/" class="back-button">
                    <svg className={cartStyles.backArrow} width="50px" height="50px" 
                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                        <polygon points="11.62 3.81 7.43 8 11.62 12.19 10.09 13.71 4.38 8 10.09 2.29 11.62 3.81"/>
                    </svg>
                </a>
            </div>

            <form action="/updateCategory/<%= chosenCategory.id %>" class="update-category-form" method="POST">
                <a href="/deleteCategory/<%= chosenCategory.id %>" class="delete-category-link">
                    Delete
                </a>

                <label for="categoryName">Category Name:</label>
                <input type="text" name="categoryName" id="categoryName" 
                    value="<%= chosenCategory.name %>" required>

                <label for="founderName">Founder Name (opional):</label>
                <input type="text" name="founderName" id="founderName" 
                    value="<%= chosenCategory.founder %>">

                <button type="submit" class="update-category-btn">Save</button>
            </form>

            <!-- in case of errors: -->
            <div class="error-container">
                <%- include('errors') %>
            </div> 
        </div>
        
    </body>
</html>